html {
  scroll-behavior: smooth;
}

.nav-links a {
  text-decoration-line: none;
}

.nav-links a::before {
  content: '';
  width: 40px;
  height: 2px;
  background-color: oklch(var(--s));
  display: inline-block;
  position: relative;
  border-radius: 50px;
  top: -10%;
  margin-right: 16px;
}

a.active {
  color: oklch(var(--p));
}

a.active::before {
  content: '';
  width: 80px;
  height: 2px;
  background-color: oklch(var(--p));
}

img.slide-animation {
  transition: all 0.25s ease-out;
  max-height: 128px;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  object-position: 50% 0%;
}

img.slide-animation:hover {
  max-height: 1000px;
  transition: all 0.25s ease-in;
}
