---
import Link from './Link.astro';
---

<ul class="list-none p-0 grid gap-4">
  <li class="p-0">
    <div
      class="card card-compact bg-primary text-primary-content w-full opacity-80 hover:opacity-100"
    >
      <div class="card-body">
        <div class="flex gap-2 items-center">
          <h2 class="card-title font-bold m-0">Brawijaya University</h2>
          <Link href="https://ub.ac.id" />
        </div>
        <p>
          Brawijaya University, Malang, Indonesia - Engineering
          <br />
          Degree in Water Resources (2018)
        </p>
      </div>
    </div>
  </li>
</ul>
