---
import ExperienceCard from './ExperienceCard.astro';
---

<ol class="list-none p-0 grid gap-4">
  <li class="p-0">
    <ExperienceCard
      years="2023 - PRESENT"
      title="Movel AI Pte. Ltd."
      webLink="https://www.movel.ai/"
      position="Full-Stack Engineer"
      skills={[
        'TypeScript',
        'React',
        'Three.js',
        'NestJs',
        'GraphQL',
        'Next.js',
        'Astrojs',
        'Landing Page',
        'Python',
        'Django',
        'Docker',
        'Linux',
      ]}
    >
      <div>
        <p class="m-0">
          I specialize in full-stack solutions for robotics navigation,
          integrating backend services, Docker, and both cloud and self-hosted
          infrastructures. By leveraging Three.js, I enhance robotic mapping
          interfaces with immersive 2D/3D visualizations, enabling intuitive
          real-time interaction with complex data.
          <ul>
            <li>
              Developed a SaaS product for robotic navigation with React and
              Three.js.
            </li>
            <li>
              Led front-end efforts for mapping, coordinate control in 3D space,
              and real-time WebSocket robot controllers.
            </li>
            <li>
              Implemented map generation and robot status features, calculating
              quaternions, transforms, and matrices for precise robotic
              operations.
            </li>
          </ul>
        </p>
      </div>
    </ExperienceCard>
  </li>
  <li class="p-0">
    <ExperienceCard
      years="2022 - 2023"
      title="PT Majoo Teknologi Indonesia"
      webLink="https://www.majoo.id/"
      position="Front-End Engineer"
      skills={[
        'Javascript',
        'TypeScript',
        'React',
        'Storybook',
        'Design-System',
        'Internal Tooling',
      ]}
    >
      <div>
        <p class="m-0">
          Redesigned Majoo's web CMS Dashboard and built a scalable Design
          System, improving performance and user experience. Leveraged tools
          like TypeScript, Nx, and Storybook to deliver reliable, maintainable
          solutions.
          <ul>
            <li>
              Migrated CMS Dashboard to functional React and upgraded to React
              v.17+.
            </li>
            <li>Published tokenized Design System components on npmjs.com.</li>
            <li>
              Maintained monorepo with Nx and documented workflows with
              Storybook.
            </li>
            <li>
              Reviewed pull requests to ensure high code quality and
              maintainability.
            </li>
          </ul>
        </p>
      </div>
    </ExperienceCard>
  </li>
  <li class="p-0">
    <ExperienceCard
      years="2018 - 2022"
      title="Various Engineering Firms"
      webLink="https://viramakarya.co.id/virama/"
      position="Civil - Water Engineer (Analytics)"
      skills={[
        'AutoCAD',
        'QGIS',
        'ARC GIS',
        'HEC-RAS',
        'Excel',
        'VB.NET',
        'C# .NET Framework',
        'LISP',
        'Python',
        'Internal Tooling',
      ]}
    >
      <div>
        <p class="m-0">
          I worked at firms such as Sinarmas Agri, Virama Karya, and Mitra
          Construction, leveraging GIS, remote sensing, and spatial analytics to
          enhance workflows and deliver data-driven solutions. Led a team
          managing CAD drafts for over 2,000 buildings, ensuring quality and
          timely delivery.
          <ul>
            <li>Automated AutoCAD workflows with LISP and C#</li>
            <li>Developed Python tools for GIS tasks</li>
            <li>
              Managed spatial databases using SQL, integrating millions of
              cloud-based LiDAR data points across an area exceeding 30.000
              hectares.
            </li>
            <li>
              Provided geospatial insights for 10+ major infrastructure projects
            </li>
          </ul>
        </p>
      </div>
    </ExperienceCard>
  </li>
</ol>
